@font-face {
  font-family: KaushanScript;
  src: url(./assets/fonts/KaushanScript.ttf);
}

#achievements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 2rem 5rem;
}

#achievements-heading {
  width: 100%;

  font-family: KaushanScript;
  font-size: 3rem;
  text-align: left;
  text-transform: uppercase;
}

#achievements-heading > i {
  padding-right: 1rem;
}

#achievements {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;

  width: 100%;

  padding: 5rem 0;
}
