.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 2rem;

  border: var(--border-thickness-normal) solid
    var(--color-text);
  border-radius: var(--border-radius);
}

.achievement-title {
  width: 100%;

  font-family: var(--font-heading);
  font-size: var(--font-size-title);
}

.achievement-role {
  width: 100%;

  padding-bottom: 1rem;

  border-bottom: var(--border-thickness-normal)
    solid var(--color-text);

  font-family: var(--font-heading);
  font-size: var(--font-size-content);
}

.achievement-works {
  width: 100%;

  list-style-type: none;
}
