#achievements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: var(--padding-section);
}

#achievements-heading {
  width: 100%;

  font-family: var(--font-heading);
  font-size: var(--font-size-heading);
  text-align: var(--text-align-heading);
  text-transform: uppercase;
}

#achievements-heading > i {
  padding-right: 1rem;
}

#achievements {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);

  width: 100%;

  padding: var(--padding-grid);
}

@media (min-width: 1200px) {
  #achievements {
    grid-template-columns: repeat(2, 1fr);
  }
}
