@font-face {
  font-family: KaushanScript;
  src: url(./assets/fonts/KaushanScript.ttf);
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 2rem;

  border: 3px solid #333;
  border-radius: 1rem;
}

.achievement-title {
  width: 100%;

  font-family: KaushanScript;
  font-size: 3rem;
}

.achievement-role {
  width: 100%;

  font-family: KaushanScript;
  font-size: 2.5rem;
}

.achievement-works {
  width: 100%;

  padding-left: 2rem;

  list-style-type: none;
}
