.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 2rem;

  border: 3px solid var(--color-text);
  border-radius: 1rem;
}

.achievement-title {
  width: 100%;

  font-family: KaushanScript;
  font-size: 3rem;
}

.achievement-role {
  width: 100%;

  padding-bottom: 1rem;

  border-bottom: 3px solid var(--color-text);

  font-family: KaushanScript;
  font-size: 2rem;
}

.achievement-works {
  width: 100%;

  list-style-type: none;
}
