@font-face {
  font-family: Courgette;
  src: url(./assets/fonts/Courgette.ttf);
}

.achievement-work {
  padding-top: 2rem;
}

.achievement-work-details {
  width: 100%;

  font-family: Courgette;
  font-size: 2rem;
}

.achievement-work-artists {
  width: 100%;

  padding-top: 0.5rem;
  padding-left: 2rem;
}

.achievement-work-artist {
  width: 100%;

  padding: 0.5rem 0;

  font-family: Courgette;
  font-size: 2rem;
}
