.contact {
  width: 100%;

  color: inherit;

  font-family: var(--font-content);
  font-size: var(--font-size-content);
  text-decoration: none;
}

.contact > i {
  padding-right: 1rem;
}
