@font-face {
  font-family: PermanentMarker;
  src: url(./assets/fonts/PermanentMarker.ttf);
}

@font-face {
  font-family: KaushanScript;
  src: url(./assets/fonts/KaushanScript.ttf);
}

@font-face {
  font-family: Courgette;
  src: url(./assets/fonts/Courgette.ttf);
}
