#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 100svh;

  padding: 0 5rem;
}

#hero-heading {
  width: 100%;

  font-family: PermanentMarker;
  font-size: 8rem;
  text-align: center;
  text-transform: capitalize;
}

#hero-sub-heading {
  width: 100%;

  padding: 1rem 0;

  font-family: KaushanScript;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

#hero-intro {
  width: 100%;

  padding: 10rem 0;

  font-family: Courgette;
  font-size: 1.8rem;
  text-align: center;
}
