@font-face {
  font-family: KaushanScript;
  src: url(./assets/fonts/KaushanScript.ttf);
}

@font-face {
  font-family: Courgette;
  src: url(./assets/fonts/Courgette.ttf);
}

.performance {
  padding-left: 3rem;

  border-left: 5px solid #333;

  font-family: Courgette;
}

.role {
  font-family: KaushanScript;
  font-size: 3rem;
  text-transform: uppercase;
}

.period {
  font-family: KaushanScript;
  font-size: 2rem;
}

.artist {
  padding-top: 1rem;
  font-size: 4rem;
}

.artist-details {
  font-size: 2.5rem;
}
