.performance {
  padding-left: 2rem;

  border-left: var(--border-thickness-thick) solid
    var(--color-text);
}

.performance-role {
  font-family: var(--font-heading);
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.performance-period {
  font-family: var(--font-heading);
  font-size: var(--font-size-content);
}

.performance-artist {
  padding-top: 1rem;

  font-family: var(--font-content);
  font-size: var(--font-size-title);
}

.performance-artist-details {
  font-family: var(--font-content);
  font-size: var(--font-size-content);
}
