.performance {
  padding-left: 2rem;

  border-left: 5px solid var(--color-text);
}

.performance-role {
  font-family: KaushanScript;
  font-size: 2rem;
  text-transform: uppercase;
}

.performance-period {
  font-family: KaushanScript;
  font-size: 1.5rem;
}

.performance-artist {
  padding-top: 1rem;

  font-family: Courgette;
  font-size: 2.5rem;
}

.performance-artist-details {
  font-family: Courgette;
  font-size: 2rem;
}
