@font-face {
  font-family: KaushanScript;
  src: url(./assets/fonts/KaushanScript.ttf);
}

#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

#skills-heading {
  width: 100%;

  font-family: KaushanScript;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
}

#skills-heading > i {
  padding-right: 1rem;
}

#skill-categories {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 5rem;

  width: 100%;
}
