.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.skill-category-name {
  border-bottom: var(--border-thickness-normal)
    solid var(--color-text);

  font-family: var(--font-heading);
  font-size: var(--font-size-title);
  text-align: center;
  text-transform: uppercase;
}

.skill-category-name > i {
  padding-right: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;

  padding-top: 2rem;
}

.skill {
  padding-bottom: 1rem;

  font-family: var(--font-content);
  font-size: var(--font-size-content);
  text-transform: capitalize;
}
