.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.skill-category-name {
  border-bottom: 3px solid var(--color-text);

  font-family: KaushanScript;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.skill-category-name > i {
  padding-right: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;

  padding: 2rem;
}

.skill {
  padding-bottom: 1rem;

  font-family: Courgette;
  font-size: 2rem;
  text-transform: capitalize;
}
