#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 2rem 5rem;
}

#skills-heading {
  width: 100%;

  font-family: KaushanScript;
  font-size: 3rem;
  text-align: left;
  text-transform: uppercase;
}

#skills-heading > i {
  padding-right: 1rem;
}

#skill-categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;

  width: 100%;

  padding-top: 5rem;
}
